*{
    margin: 0;
    padding: 0;
}
h1{
    border: 5px solid white;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;
}
nav{
    border: 5px solid white;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 2%;
}
section{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    
}

.sub-1{
    width: 70%;
    height: 200px;
    background-color: gray;
    display: inline-block;
    text-align: center;
    padding-top: 100px;    
}
.sub-2{
    width:29.6%;
    height: 200px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 100px;
}
footer{
    border: 5px solid white;
    background-color: black;
    text-align: center;
    color: white;
    padding: 3%;
}