
.div{
    border: 1px solid lightseagreen;
    background-color: lightpink;
    height:100%;width:6.1%;
    margin-left: 20px;
    display: inline-block;
}
.main{
    height: 100%;
    width: 1200px;
}s