*{
    margin: 0;
    padding: 0;
}
.div nav{
    border: 2px solid #333;
    background-color: #333;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
     
}
.div li{
    display: inline;
}
a{
    color:#fff ;
    padding: 10px;
    text-decoration: none;
}

form{
    width: 50%;
    margin: 0 auto;
}
.main input{
    border: 1px solid lightyellow;
    border-bottom:2px solid #FAA61A;

}
.section{
    padding-top: 75px;
}
lable{
    display: inline-block;
    width: 150px;
}
textarea{
    border: 1px solid lightyellow;
    border-bottom:2px solid #FAA61A;
}
button{
    color: #FAA61A;
}
.sub{
    width: 100%;
}
.sub-1{
    height: 300px; 
    width:49%;
    background-color: yellow;
    display: inline-block;
}
.sub h2{
    color: red;
}
.sub ul{
    padding-left: 20px;
}
.sub ol{
    padding-left: 20px;
}
.sub li{
    color: blue;
}
.sub-2{
    height: 300px; width:49%;
    background-color: yellow;
    display: inline-block;
    margin-top: 20px;

}
.sub{
    display: inline-block;
}
.main-1{
    background-color: #FAA61A;
    color: white;
    border: none;
    margin-left: 275px;
}